@import './../common/Theme.scss';
.Banner {
  width: 100%;
  height: 3rem;
  margin-top: -2.1rem;
  background: url() cover center
}
.swiper-discover-banner {
  width: 100%;
  height: 100%;
}
.slideBanner{
  width: 7.2rem !important;
  overflow: hidden;
  height: 100%;
  margin: 0 0.15rem;
  border-radius: 0.1rem;
}

.swiper-pagination-bullet {
  transition: all 0.4s ;
  margin: 0 2px !important;
  width: 6px !important;
  height: 6px !important;
  background: $c1 !important;
  opacity: 0.4 !important;
}
.swiper-pagination-bullet-active {
  background: $c1 !important;
  width: 20px !important;
  border-radius: 3px !important;
  opacity: 1 !important;
}