

.CellTitle {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.3rem;
  text-align: left;
  font-family: PingFangSC-Bold; 
  color: #000000;
  display: flex;
  align-items: center;
}
.CellTitle i {
  width: 0.16rem;
  height: 0.16rem;
  border-top: 0.02rem solid #333333;
  border-right: 0.02rem solid #333333;
  transform: rotate(45deg);
}