@import './../common/Theme.scss';

.FourBtn {
  width: 100%;
  height: 2.1rem;
  border-bottom: 0.02rem solid #f9f9f9;
  overflow: hidden;
}
.rebtnCell {
  float: left;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rebtnCellIcon {
  width: 1rem;
  height: 1rem;
  background: $c1;
  font-size: 0.6rem;
  line-height: 1rem;
  color: #ffffff;
  border-radius: 50%;
}
.rebtnCellTitle {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  color: #333;
  font-family: PingFangSC-Light; 
}