
@import './../common/Theme.scss';
.Recommend {
  width: 100%;
  height: calc(100vh - 2.79rem);
  overflow: scroll;
  -webkit-overflow-scrolling : touch;
  background: #ffffff;
}
.rebackground {
  width: 100%;
  height: 2.1rem;
  background: $c1;
}