.RecommendMusicList {
  box-sizing: border-box;
  width: 7.26rem;
  margin: 0.3rem 0.12rem 0;
}
.musicList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.musicListCell {
  margin: 0.2rem 0;
  width: 2.38rem;
  overflow: hidden;
}
.musicListCell img{
  width: 2.38rem;
  height: 2.38rem;
  overflow: hidden;
  border-radius: 0.1rem;
}
.musicListCell p {
  padding: 0 0.06rem;
  font-size: 0.24rem;
  line-height: 0.32rem;
  text-align: left;
}
