@import './../common/Theme.scss';
.tabbar {
  background: $c1;
  width: 100%;
  height: 0.9rem;
  position: fixed;
  top: 0.9rem;
}
.tabbarNameD {
  float: left;
  font-size: 0.26rem;
  color: #ffffff;
  font-family: PingFangSC-Light; 
  width: 50%;
  height: 100%;
  line-height: 0.7rem;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
.tabbarAc {
  transition: all 0.3s;
  font-size: 0.28rem;
  color: #ffffff;
  font-family: PingFangSC-Regular;
  
}
.tabbarline {
  width: 1rem;
  height: 0.05rem;
  background: #ffffff;
  border-radius: 0.03rem;
  position: relative;
  top: 0.66rem;
  left: 1.37rem;
  z-index: 1;
  transition: all 0.3s;
}
.tabbarlineA {
  left: 5.12rem;
}